
.horizontal{
    background: linear-gradient(rgb(236, 236, 239),rgb(193, 193, 196),rgb(132, 132, 135));
    height: 8%;
    margin-top: 20px;
    margin-bottom: 10px;
}
ul{
    font-size: 20px;
    text-align: left;
}

.rowDiv{
    height: 100%;
}
.vertical1{
    background:linear-gradient(rgb(236, 236, 239),rgb(193, 193, 196),rgb(132, 132, 135));
    margin-top: 2px;
}
.vertical2{
    background-color: white;
    margin-top: 2px;
}
.vertical3{
    background:linear-gradient(rgb(236, 236, 239),rgb(193, 193, 196),rgb(132, 132, 135));
    margin-top: 2px;
}
.mat-mdc-button{
    color: aqua;
}