<mat-card class="horizontal">
    <marquee width="100%" direction="left" style="margin: auto; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: large;">
        Welcome to the yash technologies,we are glad to see here,yash wish you bright future ahead!!
    </marquee>
</mat-card>
<div class="row rowDiv">
<mat-card class="col-sm-2 vertical1">
    <mat-card-header></mat-card-header>
    <mat-card-content></mat-card-content>
    <mat-card-actions></mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>
<mat-card class="col-sm-8 vertical2">
    <app-pre-onboard-form *ngIf="isPreVisiable"></app-pre-onboard-form>
    <app-post-onboarding *ngIf="isPostVisible"></app-post-onboarding>
</mat-card>
<mat-card class="col-sm-2 vertical3" >
    <mat-card-header></mat-card-header>
    <mat-card-content>
        <button mat-button (click)="preForm()">Pre-Onboarding</button>
        <button mat-button (click)="postForm()">Post-Onboarding</button>
        <button mat-button >Course</button>
        <button mat-button >Assignments</button>
        <button mat-button >Leaders</button>
    </mat-card-content>
</mat-card>
</div>