.banner{
margin:auto;
background-image: url("src/assets/LOGO.png");
width: 100%;
height: 400px;
background-repeat: no-repeat;
background-size: cover;

}
.example-card{
      background-color: white;
}
.example-card:hover{
   box-shadow:10px 10px 10px #b0bec5;
   transform: scale(1.1);
}
.carddiv{
    padding: 2%;
}