<div class="cont">

    <mat-card class="example-card">
        <mat-card-header>
          
        </mat-card-header>
    
        <mat-card-content>
         <form>
            <div class="row">
                <div class="col text-center p-2 mb-3">
                    <span class="fs-3">Login</span>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="username">
                    
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                   
                </div>
                
            </div>
            <div class="row">
                <div class="col-6 offset-3 mb-3">
                    <div class="d-grid">
                   <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>           
            </div>
         </form>
        
        </mat-card-content>
         
      </mat-card>
      </div>
